/*Admission Details start*/

body{
    background-color: #E5B9A8;
}

h1{
    text-align: center;
    margin: 2vh 0vw;
    color: #EF534F;

}
p{
    font-size: 1.2em;
    margin: 2vh 3vw;

}

/*Admission Details End*/