/*Start BCA Time table*/

body{
  background-color: #9CB898;
}

h1{
  text-align: center;
  
}

h2{
  text-align: center;
 
}

img{
  width: 200vh;
  height: 100vh;
  margin: 2vh 5vh;
}
/*End BCA Time Table*/